@charset "UTF-8";
.head {
  padding-top: 137px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.head h1 {
  font-weight: 800;
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  margin-bottom: 15px;
}
@media (max-width: 660px) {
  .head h1 {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .head h1 {
    font-size: 20px;
  }
}
.head p {
  font-size: 18px;
  line-height: 20px;
  color: #e7e7e7;
  text-align: center;
  margin: 0;
}
@media (max-width: 660px) {
  .head p {
    font-size: 15px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}
.cards__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px 10px 10px;
  background: linear-gradient(90.75deg, rgba(109, 0, 239, 0.5) 0%, rgba(153, 68, 255, 0.47) 100.84%);
  border-radius: 21px;
  transition: 0.3s all;
  margin-bottom: 25px;
  cursor: pointer;
}
.cards__card_💩💩💩 {
  visibility: hidden;
}
.cards__card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 15px 22px rgba(103, 49, 175, 0.14);
}
.cards__name {
  color: #FFFFFF;
  font-size: 15px;
}
.cards__preview {
  max-width: 250px;
  padding: 0 10px 10px 10px;
}
@media (max-width: 620px) {
  .cards {
    flex-direction: column;
    margin-top: 50px;
    padding: 0 50px;
  }
  .cards__preview {
    max-width: 150px;
  }
}