@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  margin: 0;
  background-color: #131B21;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
  width: 12px;
  height: 3px;
}

::-webkit-scrollbar-button {
  display: none;
  background-color: #000;
}

::-webkit-scrollbar-corner {
  background-color: #2f3136;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #202225;
  border-radius: 5px;
  border-top: solid;
  border-bottom: solid;
  border-color: #36393f;
}

::-webkit-scrollbar-track-piece {
  background-color: #2f3136;
}

.container {
  max-width: 1135px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.navbar {
  position: relative;
  background-color: #6D00EF;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.25);
}
@media (max-width: 767px) {
  .navbar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6D00EF;
    z-index: 1;
  }
}
.navbar_fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}
.navbar__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar__left {
  width: 33.33%;
}
.navbar__center {
  width: 33.33%;
}
.navbar__logo {
  position: absolute;
  height: 72px;
  width: 72px;
  border-radius: 50px;
  padding: 5px;
  background-color: #6D00EF;
  left: 50%;
  margin-left: -36px !important;
  bottom: -36px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.12) inset;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.12) inset;
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.12) inset;
  transition: 0.3s ease;
  z-index: 2;
}
.navbar__logo:hover {
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.12) inset;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.12) inset;
  -moz-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.12) inset;
}
.navbar__logo img {
  width: inherit;
}
.navbar__right {
  width: 33.33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar__burger {
  display: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .navbar__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin-right: 20px;
  }
  .navbar__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .navbar__burger.active span {
    transform: scale(0);
  }
  .navbar__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .navbar__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease;
  }
  .navbar__burger:before, .navbar__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
  }
  .navbar__burger:before {
    top: 0;
  }
  .navbar__burger:after {
    bottom: 0;
  }
}
@media (max-width: 767px) {
  .navbar__menu {
    box-sizing: border-box;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #1f2024;
    padding: 100px 40px;
    transition: all 0.3s ease;
  }
  .navbar__menu.active {
    top: 0;
  }
}
.navbar__list {
  display: flex;
  margin: 0px;
}
.navbar__list :not(:first-child) {
  margin-left: 15px;
}
.navbar__list li {
  list-style: none;
  font-weight: 500;
}
@media (max-width: 767px) {
  .navbar__list {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .navbar__list :not(:first-child) {
    margin-left: 0px;
  }
  .navbar__list li {
    width: 100%;
    text-align: center;
  }
  .navbar__list a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 100px;
  }
}
.navbar__link {
  color: #FFFFFF;
  display: block;
  line-height: 50px;
  transition: 0.3s all;
}
.navbar__link:hover {
  color: #969696;
}

.footer {
  height: 240px;
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
  color: #FFFFFF;
}
@media (max-width: 660px) {
  .footer {
    background-position: 50% 100%;
    height: 500px;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}
@media (max-width: 767px) {
  .footer__container {
    padding: 0 20px;
  }
}
@media (max-width: 660px) {
  .footer__container {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.footer__author {
  padding-bottom: 10px;
}
.footer__author p {
  margin: 0;
  margin-top: 5px;
  color: #dbdbdb;
}
.footer__politics {
  display: flex;
  padding-bottom: 10px;
}
@media (max-width: 992px) {
  .footer__politics {
    flex-direction: column;
  }
  .footer__politics span {
    display: none;
  }
}
.footer__politics a {
  color: #FFFFFF;
  transition: 0.2s all;
}
.footer__politics a:hover {
  color: #d4d4d4;
}

.head {
  padding-top: 137px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.head h1 {
  font-weight: 800;
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  margin-bottom: 15px;
}
@media (max-width: 660px) {
  .head h1 {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .head h1 {
    font-size: 20px;
  }
}
.head p {
  font-size: 18px;
  line-height: 20px;
  color: #e7e7e7;
  text-align: center;
  margin: 0;
}
@media (max-width: 660px) {
  .head p {
    font-size: 15px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}
.cards__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px 10px 10px;
  background: linear-gradient(90.75deg, rgba(109, 0, 239, 0.5) 0%, rgba(153, 68, 255, 0.47) 100.84%);
  border-radius: 21px;
  transition: 0.3s all;
  margin-bottom: 25px;
  cursor: pointer;
}
.cards__card_💩💩💩 {
  visibility: hidden;
}
.cards__card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 15px 22px rgba(103, 49, 175, 0.14);
}
.cards__name {
  color: #FFFFFF;
  font-size: 15px;
}
.cards__preview {
  max-width: 250px;
  padding: 0 10px 10px 10px;
}
@media (max-width: 620px) {
  .cards {
    flex-direction: column;
    margin-top: 50px;
    padding: 0 50px;
  }
  .cards__preview {
    max-width: 150px;
  }
}